.header {
    background-color: var(--titleBlack);

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--maxWidth);
    padding: 0 10px;
    margin: 0 auto;
}

.logo {
    height: 52px;
    width: 108px;

    @media (min-width: 769px) {
        height: 64px;
        width: 132px;
    }
}

.menuButton {
    cursor: pointer;

    @media (min-width: 769px) {
        display: none;
    }
}